---
interface Props {
  name: string;
  scientificName: string;
  image: string;
  description: string;
  tastingProfile: string;
}

const { name, scientificName, image, description, tastingProfile } = Astro.props;
---

<section class="product-section">
  <div class="product-container">
    <div class="product-flex">
      <div class="product-image" style={`background-image: url('${image}')`}></div>
      <div class="product-right">
        <h2 class="product-title">{name}</h2>
        <p class="product-scientific">{scientificName}</p>
        <p class="product-description">{description}</p>
        <p class="product-tasting"><em>Tasting Notes:</em> {tastingProfile}</p>
      </div>
    </div>
  </div>
</section>

<style>
  .product-section {
    width: 100%;
  }

  .product-container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .product-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 40px 0 20px 0;
  }

  .product-image {
    width: 400px;
    min-width: 400px;
    height: 647px;
    background-size: cover;
    background-position: 50% 100%;
    margin-right: 50px;
    margin-top: 40px;
  }

  .product-right {
    flex: 1;
    margin-top: 40px;
  }

  .product-title {
    font-size: 38px;
    font-family: var(--font-heading);
    font-weight: 700;
    color: #333;
    line-height: 1.1;
    margin: 0 0 10px 0;
  }

  .product-scientific {
    font-size: 16px;
    font-style: italic;
    color: #888;
    margin-bottom: 1.25rem;
  }

  .product-description {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 1.25rem;
  }

  .product-tasting {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }

  @media (max-width: 767px) {
    .product-flex {
      flex-direction: column;
    }

    .product-image {
      width: 100%;
      min-width: unset;
      height: 300px;
      margin-right: 0;
      background-position: center;
    }

    .product-title {
      font-size: 2rem;
    }

    .product-description {
      font-size: 1rem;
    }
  }
</style>
